{
  email gsacryfice@gmail.com
  metrics
}

# Отдельный порт только для метрик (без доступа к admin API)
:2020 {
  metrics
}

senaev.com {
  reverse_proxy nextjs-app:3000
}

test.senaev.com {
  respond "Hello World from Caddy (TLS ok)\n" 200
}

grafana.senaev.com {
  reverse_proxy grafana:3000
}

webdav.senaev.com {
  reverse_proxy webdav:80
}

senaev.ru {
  reverse_proxy nextjs-app:3000
}