# Traefik static configuration (file provider, Let's Encrypt, dashboard)
# https://doc.traefik.io/traefik/reference/static-configuration/file/

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"
  # create SSH tunnel to dashboard: ssh -L 8080:127.0.0.1:8080 ubuntu@51.250.80.209
  # then open http://localhost:8080 in browser
  dashboard:
    address: ":8080"

certificatesResolvers:
  letsencrypt:
    acme:
      email: gsacryfice@gmail.com
      storage: /etc/traefik/acme/acme.json
      httpChallenge:
        entryPoint: web

providers:
  file:
    filename: /etc/traefik/dynamic.yml
    watch: true

api:
  dashboard: true

metrics:
  prometheus:
    entryPoint: dashboard   # expose /metrics on port 8080 (with dashboard)
    addEntryPointsLabels: true
    addServicesLabels: true
    addRoutersLabels: true

log:
  level: INFO

accessLog: {}
