.markdownContainer {
    --avatar-size: 5em;
}

.markdownContainer {
    position: relative;
    padding: 0 0 4em 0;
    max-width: 35em;
    margin: 1em;
}

.markdownContainer img {
    border-radius: 9999px;
    height: var(--avatar-size);
    width: var(--avatar-size);
    margin: 0;
}

.markdownContainer p {
    margin: 0.1em 0;
}

.markdownContainer h1 {
    line-height: 0.5em;
}

.markdownContainer h2 {
    line-height: 0.5em;
}

.markdownContainer li {
    line-height: 1.5em;
}

.markdownContainer li li {
    font-size: 0.8em;
}
