:root {
    --table-border-spacing: 0.5em;
}

.NotePage_container {
    display: flex;
    justify-content: center;
}

.NotePage__main {
    position: relative;
    max-width: 800px;
    height: 100%;

    font-size: 18px;
    line-height: 1.7em;

    --text-margin: 0.6em;

    word-wrap: break-word;
}

.NotePage__article {
    position: relative;
    margin: 0 1.5em 8em 1.5em;
}

.NotePage__main strong {
    font-weight: 600;
}

.NotePage__main blockquote {
    border-left: 0.1em solid grey;
    margin: 1em;
    padding-left: 0.5em;
}

.NotePage__main p {
    margin: var(--text-margin) 0;
    white-space: pre-wrap;
}

.NotePage__main :is(h1, h2, h3, h4, h5, h6) {
    margin: var(--text-margin) 0;
    font-weight: 600;
}

.NotePage__main h1 {
    font-size: 1.4em;
}

.NotePage__main h2 {
    font-size: 1.2em;
}

.NotePage__main h3 {
    font-size: 1.1em;
}

.NotePage__main h4 {
    font-size: 1em;
}

.NotePage__main h5 {
    font-size: 0.9em;
}

.NotePage__main h6 {
    font-size: 0.8em;
}

.NotePage__main ul {
    margin: 0.5em 0 0 0;
    padding-left: 1em;
    list-style-type: disc;
}

.NotePage__main li::marker,
.NotePage__main dt::marker {
    font-size: 0.75em;
}

.NotePage__main img {
    max-width: 100%;
}

.NotePage__main code {
    background-color: lightgray;
    border-radius: 0.2em;
}

.NotePage__main table {
    border-spacing: var(--table-border-spacing) 0;
    margin: 0 calc(var(--table-border-spacing) * -1);
}



@media (max-width: 800px) {
    .NotePage__main div>ul {
        padding-left: 1em;
    }

    .NotePage__main {
        width: 100%;
        font-size: 16px;
    }
}