.FONT_MERRIWEATHER_CLASSNAME {
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    color: rgb(51, 51, 51);
    letter-spacing: 0.01rem;

}