.Container {
    position: relative;
    width: 100%;
    height: 100%;
}

.ServiceInfo {
    position: absolute;
    font-size: 0.5em;
    left: 0;
    top: 0;
    padding: 1em;
    color: #ccc;
}

.MainInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    text-align: center;
    font-weight: 700;
    width: 100%;
    height: 100%;
}