.container {
  position: absolute;
  top: 1em;
  left: 1em;
  height: 4em;
  width: 8.1em;
  margin-left: 0;

  display: flex;

  box-shadow: 1em 1em 3em 0 rgb(0 0 0 / 60%);
  border-radius: 0.5em;

  color: rgba(34, 40, 46, 1);
  background-color: rgba(202, 227, 255, 0.3);
}

.leftSide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4em;
}

.centralSeparator {
  width: 0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centralSeparator_line {
  background-color: #7676762b;
  width: 0.1em;
  height: 65%;
  border-radius: 999px;
}

.rightSide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4em;
}

.avatarImage {
  width: 3em;
  height: 3em;
  border-radius: 9999px;
}
