:root {
    --content-background: rgb(99, 90, 75);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
address,
ul,
li,
figure,
html,
body {
    margin: 0;
    padding: 0;
}

html,
body {
    background: var(--content-background);
    font-family: "Merriweather", serif;
    color: rgb(255, 255, 255);
}

.container {
    display: flex;
    align-items: flex-start;
    position: relative;
    width: 100%;
}


@media only screen and (max-width: 1024px) {
    .container {
        flex-direction: column;
    }
}

.photoContainer {
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 0;
}

.photoContainer__child {
    text-align: center;
    font-size: 0px;
    width: 100%;
    height: 100vh;
    margin: 0px auto;
}

.photoContainer__grandChild {
    text-align: center;
    font-size: 0px;
    width: 100%;
    height: 100%;
}

.photoImage {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.textContent {
    width: 100%;
    position: relative;
    z-index: 1;
}

@keyframes arrowBounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0px) translateX(-50%);
    }

    40% {
        transform: translateY(-20px) translateX(-50%);
    }

    60% {
        transform: translateY(-10px) translateX(-50%);
    }
}

.scrollDownButton__container {
    display: none;
    position: absolute;
    padding: 40px;
    top: -210px;
    left: 50%;
    z-index: 20;
    pointer-events: none;
    transform: translateY(-50%);
    outline: none;
    transition: all 500ms cubic-bezier(0.84, 0.04, 1, 1) 0s;
    animation: 3s linear 0s infinite normal none running arrowBounce;
}

@media only screen and (max-width: 1024px) {
    .scrollDownButton__container {
        display: block;
    }
}

.scrollDownButton {
    fill: rgb(255, 255, 255);
    display: flex;
    width: 2rem;
    height: 2rem;
}

.slideshowContainer {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(/wedding/img/background.webp);
    background-size: cover;
    background-position: center;
}

.textContent_content {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    z-index: 2;
    /* margin-top: 20px; */
    width: 100% !important;
    max-width: 100% !important;
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    .textContent_content {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
    }
}


.textContent_chapters {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background: var(--content-background);
    width: 100%;
}

.textContent_chapters>div {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 80px 40px;
    box-sizing: border-box;
}

@media only screen and (max-width: 1024px) {
    .textContent_chapters>div {
        min-height: auto;
    }
}

.scrollTopButton {
    position: fixed;
    z-index: 19;
    right: 20px;
    top: auto;
    bottom: 0px;
    transform: none;
    margin-bottom: 20px;
    display: none;
}

.scrollTopButton>button {
    width: 50px;
    height: 50px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease 0s, visibility 0.2s ease 0s;
    background: linear-gradient(rgb(255, 255, 255) 0%, rgb(232, 232, 232) 100%) 0% 0% no-repeat transparent;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 50%;
    box-shadow: rgba(70, 68, 67, 0.15) 0px 4px 8px;
}

.scrollTopButton__svgContainer {
    display: flex;
    width: 2rem;
    height: 2rem;
}

.diamant {
    text-align: center;
    font-size: 0px;
    width: 100%;
    max-width: 150px;
    margin: 0px auto 10px;
    border-radius: 50%;
}

.diamant__container {
    position: relative;
    padding-top: 100%;
    height: 100%;
}

.diamant__figure {
    position: absolute;
    top: 0px;
    mask-image: -webkit-radial-gradient(center, white, black);
    border-radius: 50%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.diamant__image {
    object-fit: cover;
    width: 128px;
    left: 11px;
    top: 32px;
    transform: rotate(0deg);
    height: auto;
    position: absolute;
    animation: 1.5s cubic-bezier(0.23, 1, 0.32, 1) 0.1s 1 normal forwards running fadeInImg;
}

h1 {
    font-weight: 800;
    font-style: italic;
    font-size: 29.12px;

    margin-bottom: 0px;
    width: 100%;
    position: relative;
}

h2 {
    font-style: italic;
    margin-bottom: 13px;
}

p {
    font-weight: 300;
    font-size: 18.56px;
    width: 100%;
    text-align: center;
    position: relative;
    line-height: 1.4;
    margin-top: 20px;
}

.secondChapter div {
    margin-top: 30px;
}

a {
    color: #e8d7b7;
}