# k3s Traefik: add "letsencrypt" certificate resolver and persist ACME data (acme.json).
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    additionalArguments:
      - "--certificatesresolvers.letsencrypt.acme.email=gsacryfice@gmail.com"
      - "--certificatesresolvers.letsencrypt.acme.storage=/acme-data/acme.json"
      - "--certificatesresolvers.letsencrypt.acme.httpchallenge.entrypoint=web"
    deployment:
      additionalVolumes:
        - name: acme-data
          persistentVolumeClaim:
            claimName: traefik-acme-data
      initContainers:
        - name: volume-permissions
          image: busybox:latest
          command: ["sh", "-c", "touch /acme-data/acme.json; chmod -v 600 /acme-data/acme.json"]
          volumeMounts:
            - name: acme-data
              mountPath: /acme-data
    additionalVolumeMounts:
      - name: acme-data
        mountPath: /acme-data
