{{- if .Values.traefik.enabled }}
apiVersion: networking.k8s.io/v1
kind: IngressClass
metadata:
  name: traefik
  labels:
    app: traefik
spec:
  controller: traefik.io/ingress-controller
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: traefik
  namespace: {{ .Release.Namespace }}
  labels:
    app: traefik
spec:
  replicas: 1
  selector:
    matchLabels:
      app: traefik
  template:
    metadata:
      labels:
        app: traefik
    spec:
      serviceAccountName: traefik-ingress-controller
      containers:
        - name: traefik
          image: "{{ .Values.traefik.image.repository }}:{{ .Values.traefik.image.tag }}"
          args:
            - "--api.dashboard=true"
            - "--log.level={{ .Values.traefik.logLevel }}"
            - "--accesslog=true"
            - "--accesslog.filepath=/dev/stdout"
            - "--providers.kubernetesingress=true"
            - "--entrypoints.web.address=:80"
            - "--entrypoints.websecure.address=:443"
            - "--certificatesresolvers.letsencrypt.acme.email={{ .Values.traefik.acme.email }}"
            - "--certificatesresolvers.letsencrypt.acme.storage=/acme-data/acme.json"
            - "--certificatesresolvers.letsencrypt.acme.httpchallenge.entrypoint=web"
          ports:
            - name: web
              containerPort: 80
            - name: websecure
              containerPort: 443
            - name: traefik
              containerPort: 8080
          volumeMounts:
            - name: acme-data
              mountPath: /acme-data
              readOnly: false
      volumes:
        - name: acme-data
          # ❗️ remake into hostPath to preserve persistence
          persistentVolumeClaim:
            claimName: traefik-acme-data
      initContainers:
        - name: volume-permissions
          image: busybox:latest
          command: ["sh", "-c", "touch /acme-data/acme.json; chmod 600 /acme-data/acme.json"]
          volumeMounts:
            - name: acme-data
              mountPath: /acme-data
---
apiVersion: v1
kind: Service
metadata:
  name: traefik
  namespace: {{ .Release.Namespace }}
  labels:
    app: traefik
spec:
  type: LoadBalancer
  selector:
    app: traefik
  ports:
    - name: web
      port: 80
      targetPort: 80
    - name: websecure
      port: 443
      targetPort: 443
    - name: traefik
      port: 8080
      targetPort: 8080
{{- end }}
