.noUserSelect {
    user-select: none;
}

.frame-wrapper {
    position: relative;

    width: 100%;
    height: 100%;
}

.resizable-container {
    position: relative;
    margin: 0 auto;

    width: 600px;
    height: 400px;

    border: 1px dotted #ccc;
}

.resizable-container:hover .handle,
.resizable .handle {
    opacity: 0.5;
    pointer-events: all;

    z-index: 2;
}

.resizable .iframe {
    pointer-events: none;
}

.resizable-container:hover .sizer,
.resizable .sizer {
    opacity: 0.5;

    z-index: 2;
}

.handle {
    opacity: 0;
    pointer-events: none;

    border: 8px solid transparent;
    border-right: 8px solid #000;
    border-bottom: 8px solid #000;
    bottom: 0;
    right: 0;

    cursor: se-resize;
    position: absolute;
}

.handle,
.sizer {
    transition: 100ms opacity ease-in;
}

.sizer {
    position: absolute;
    font-size: 15px;

    opacity: 0;

    height: 20px;
    line-height: 20px;

    pointer-events: none;
    user-select: none;
}

.sizer::after {
    content: "px";
    padding-left: 3px;
}

.sizer_right {
    right: -36px;
    top: 50%;

    transform: translateY(-50%) rotate(-90deg);
}

.sizer_bottom {
    bottom: -22px;
    left: 50%;
    transform: translateX(-50%);
}

.iframe {
    width: 100%;
    height: 100%;
    border: 0;
}
