{{- if .Values.victoriametrics.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: victoriametrics-scrape
  namespace: {{ .Release.Namespace }}
data:
  scrape.yml: |
    scrape_configs:
      - job_name: "victoriametrics"
        static_configs:
          - targets: ["localhost:8428"]
        scrape_interval: 15s

      - job_name: "nextjs-app"
        metrics_path: "/api/metrics"
        static_configs:
          - targets: ["nextjs-app:3000"]
        scrape_interval: 15s

      - job_name: "node"
        static_configs:
          - targets: ["node-exporter:9100"]
        scrape_interval: 15s

      - job_name: "traefik"
        metrics_path: "/metrics"
        static_configs:
          - targets: ["traefik.{{ .Release.Namespace }}.svc.cluster.local:8080"]
        scrape_interval: 15s
{{- end }}
