@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.markdownContainer {
    --avatar-size: 5em;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    line-height: 1.4em;
}

.markdownContainer {
    position: relative;
    padding: 0 0 4em 0;
    max-width: 35em;
}

.markdownContainer img {
    border-radius: 9999px;
    height: var(--avatar-size);
    width: var(--avatar-size);
    margin: 0;
}

.markdownContainer p {
    margin: 1em 0 0.5em 0;
    white-space: pre-wrap;
    font-size: 1.1em;
}

.markdownContainer h1 {
    font-size: 1.4em;
    margin: 0.3em 0 0.9em 0;
}

.markdownContainer h2 {
    margin: 0.5em 0;
    font-size: 1.2em;
}

.markdownContainer ul {
    margin: 0.5em 0;
}

.markdownContainer li li {
    font-size: 1.1em;
}