@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.markdownContainer {
    --avatar-size: 5em;
    --text-margin: 0.6em;

    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    line-height: 1.4em;
    font-size: 20px;
    margin: 0 1em;
}

.markdownContainer {
    position: relative;
    padding: 0 0 4em 0;
}

.markdownContainer img {
    border-radius: 9999px;
    height: var(--avatar-size);
    width: var(--avatar-size);
    margin: 0;
}

.markdownContainer p {
    margin: var(--text-margin) 0;
    white-space: pre-wrap;
}

.markdownContainer h1,
.markdownContainer h2,
.markdownContainer h3,
.markdownContainer h4,
.markdownContainer h5,
.markdownContainer h6 {
    margin: var(--text-margin) 0;
    font-weight: 600;
}

.markdownContainer h1 {
    font-size: 1.3em;
    height: 1.1em;
}

.markdownContainer h1::before {
    content: '📝';
    position: absolute;
    right: 100%;
    margin-right: 0.3em;
    font-size: 0.75em;
}

@media (max-width: 800px) {
    .markdownContainer h1::before {
        position: relative;
        right: auto;
        bottom: 0.15em;
    }

    .markdownContainer>div>ul {
        padding-left: 1em;
    }
}

.markdownContainer h2 {
    font-size: 1.2em;
}

.markdownContainer h3 {
    font-size: 1.1em;
}

.markdownContainer h4,
.markdownContainer h5,
.markdownContainer h6 {
    font-size: 1em;
}

.markdownContainer>div>ul {
    padding-left: 0;
}


.markdownContainer ul {
    margin: 0;
    padding-left: 1em;
    list-style-type: disc;
}

.markdownContainer li::marker,
.markdownContainer dt::marker {
    font-size: 0.75em;
}