/* From vas3k */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.markdownContainer {
    --text-margin: 0.6em;

    font-family: "Merriweather", Georgia, Times, serif;
    font-style: normal;
    font-weight: 300;
    color: rgb(51, 51, 51);
    letter-spacing: 0.01rem;

    line-height: 1.4em;
    font-size: 18px;
    margin: 0 1em;
    position: relative;
    padding: 0 0 4em 0;
    word-wrap: break-word;
}

.markdownContainer strong {
    font-weight: 600;
}

.markdownContainer blockquote {
    border-left: 0.1em solid grey;
    margin: 1em;
    padding-left: 0.5em;
}

.markdownContainer p {
    margin: var(--text-margin) 0;
    white-space: pre-wrap;
}

.markdownContainer :is(h1, h2, h3, h4, h5, h6) {
    margin: var(--text-margin) 0;
    font-weight: 600;
}

.markdownContainer h1 {
    font-size: 1.4em;
    height: 1.1em;
}

.markdownContainer h2 {
    font-size: 1.2em;
}

.markdownContainer h3 {
    font-size: 1.1em;
}

.markdownContainer h4 {
    font-size: 1em;
}

.markdownContainer h5 {
    font-size: 0.9em;
}

.markdownContainer h6 {
    font-size: 0.8em;
}

.markdownContainer>div>ul {
    padding-left: 0;
}

@media (max-width: 800px) {
    .markdownContainer>div>ul {
        padding-left: 1em;
    }
}

.markdownContainer ul {
    margin: 0;
    padding-left: 1em;
    list-style-type: disc;
}

.markdownContainer li::marker,
.markdownContainer dt::marker {
    font-size: 0.75em;
}

.markdownContainer img {
    max-width: 100%;
}