html,
body {
    --line-width: 2px;
    margin: 0;
    padding: 0;

    font-family: "Merriweather", Georgia, Times, serif;
    font-style: normal;
    font-weight: 400;

    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;

    color: rgb(51, 51, 51);

    line-height: 1.7em;
    letter-spacing: 0.01rem;

    font-size: 18px;
    position: relative;
    word-wrap: break-word;
}


@media (max-width: 850px) {

    html,
    body {
        font-size: 14px;
    }
}


.container {
    display: flex;
}


.sidebar {
    position: sticky;
    overflow-y: auto;
    top: 0;
    height: 100vh;
    background: #2c3e50;
    color: white;

    font-size: 0.8em;
    line-height: 1.7em;
    min-width: 19em;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        position: relative;
        height: auto;
    }
}


.sidebar h1 {
    font-size: 2em;
    margin: 0;
    min-width: 20em;
}

.sidebar .avatar-container {
    text-align: center;
    padding-top: 2em;
}

.sidebar .avatar-container img {
    border-radius: 50%;
}

.sidebar .sidebar-content {
    padding-left: 1.5em;
}

.sidebar .sidebar-content>div>div {
    margin-right: 1em;
}

.sidebar ul {
    padding-left: 0;
}

.sidebar h2 {
    font-size: 1.5em;
    margin: 1em 0 0.2em 0;
    padding-bottom: 0.2em;
    border-bottom: var(--line-width) solid white;
    width: 100%;
}

.sidebar .education-item {
    margin: 1em 0;
}

.sidebar .education-item p {
    margin: 0;
}

.sidebar .title {
    font-style: italic;
    margin-top: 0.1em;
}

.sidebar a {
    color: #a4d5ff;
    text-decoration: none
}

.sidebar a:hover {
    text-decoration: underline
}

.content {
    padding: 1em;
    max-width: 800px;
}

.content h2 {
    border-bottom: var(--line-width) solid #3498db;
    padding-bottom: 0.2em;
    color: #2c3e50;
}


.content .MarkdownContainer_anchor {
    opacity: 0;
}

.content .MarkdownContainer_header:hover .MarkdownContainer_anchor {
    opacity: 1;
}

.content h3 {
    margin: 0.2em 0;
    color: #3498db;
}

.content li {
    display: inline-block;
    background: #3498db;
    color: white;
    padding: 0.2em 0.4em;
    margin: 0.2em;
    border-radius: 0.2em;
}