namespace: senaev-com

nextjs:
  enabled: true
  image:
    repository: cr.yandex/crpnkh51pjbnliqhuqml/senaev.com
    tag: latest
    pullPolicy: Always
  replicas: 1
  notesHostPath: /home/ubuntu/notes

traefik:
  enabled: true
  image:
    repository: traefik
    tag: v3.2
  acme:
    email: andrei.senaev@gmail.com
  acmeHostPath: /home/ubuntu/k3s-cluster/volumes/traefik-acme
  logLevel: INFO

grafana:
  enabled: true
  image:
    repository: grafana/grafana
    tag: "11.2.0"
  provisioningHostPath: /home/ubuntu/k3s-cluster/grafana/provisioning

webdav:
  enabled: true
  image:
    repository: bytemark/webdav
  hostPath: /home/ubuntu/webdav

xray:
  enabled: true
  image:
    repository: teddysun/xray
    tag: latest
  configHostPath: /home/ubuntu/k3s-cluster/volumes/xray/xray-config.json

testEcho:
  enabled: true
  image:
    repository: hashicorp/http-echo
    tag: "0.2.3"

victoriametrics:
  enabled: true
  image:
    repository: victoriametrics/victoria-metrics
    tag: v1.100.0
  retentionPeriod: 15d
  storageSize: 10Gi

nodeExporter:
  enabled: true
  image:
    repository: prom/node-exporter
    tag: v1.7.0

ingress:
  className: traefik
  tls:
    certResolver: letsencrypt
    hosts:
      - senaev.com
      - senaev.ru
      - grafana.senaev.com
      - webdav.senaev.com
      - test.senaev.com
  hosts:
    - host: senaev.com
      service: nextjs-app
      port: 3000
    - host: senaev.ru
      service: nextjs-app
      port: 3000
    - host: grafana.senaev.com
      service: grafana
      port: 3000
    - host: webdav.senaev.com
      service: webdav
      port: 80
    - host: test.senaev.com
      service: test-echo
      port: 80

grafanaStorageSize: 5Gi
traefikAcmeStorageSize: 100Mi
